#
# Misc strange devices
#

menuconfig MISC_DEVICES
	bool "Misc devices"
	default y
	---help---
	  Say Y here to get to see options for device drivers from various
	  different categories. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if MISC_DEVICES

config ANDROID_PMEM
	bool "Android pmem allocator"
	default y
config FM_SI4708
	bool "Android fm semiconductor si470x from silicon libraries"
	default y
config ANDROID_PMEM_DEBUG
	bool "Android pmem debug"
	depends on ANDROID_PMEM
	default n

config ANDROID_PMEM_KAPI_TEST
	tristate "Simple module to test Android pmem kernel API"
	depends on ANDROID_PMEM
	default m

config UID_STAT
	bool "UID based statistics tracking exported to /proc/uid_stat"
	default n

config TSIF
	depends on ARCH_MSM
	tristate "TSIF (Transport Stream InterFace) support"
	default n
	---help---
	  This driver supports low level TSIF interface. It provides API
	  for upper layer drivers. If you have a TSIF hardware, say
	  Y here and read <file:Documentation/arm/msm/tsif.txt>.

	  To compile this driver as module, choose M here: the
	  module will be called msm_tsif.

config TSIF_CHRDEV
	tristate "TSIF character device"
	depends on TSIF
	default n
	---help---
	  This driver uses low level TSIF interface. It provides character
	  device useable from user space programs: one can read TSIF stream
	  from this device.

	  This driver may be used as example for TSIF API usage.

	  To compile this driver as module, choose M here: the
	  module will be called tsif_chrdev.

config TSIF_DEBUG
	bool "Turn on debugging information for tsif driver"
	depends on TSIF
	default n
	---help---
	  This turns on debugging information for the tsif driver

source "drivers/misc/eeprom/Kconfig"
source "drivers/misc/video_core/720p/Kconfig"
#ZTE_MODEMCTL_WXW, 20100414, begin, add the modemctl driver module for R750 item
source "drivers/misc/modemctl/Kconfig"
#ZTE_MODEMCTL_WXW, 20100414, end, add the modemctl driver module for R750 item

endif # MISC_DEVICES
